<div id="shopify-block-AZFd6aGFnS21FS1hVa__13768625480086291342" class="shopify-block shopify-app-block"><script type="load">
  window['ShopifyForms'] = {
    ...window['ShopifyForms'],
    currentPageType: "{{ template.name }}"
  };
</script>


</div>