<div class="cmbh-anchor-tag" style="scroll-behavior: smooth;" id={{ section.settings.anchor_tag }} >
</div>



  {% schema %}
  {
  "name": "CMBH - Anchor Tag",
  "settings": [
  {
  "type": "text",
  "id": "anchor_tag",
  "label": "Anchor Tag"
  }
  ],
  "presets": [
  {
  "name": "CMBH - Anchor Tag",
  "category": "Custom Sections"
  }
  ]
  }

  {% endschema %}