.CMBH-promo-blocks {

  .block {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
  }

  .block-1 {
    .card {
      box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    }

    .card__text {}
  }



  .block-2 {

    @media screen and (min-width: 767px) {
      margin-top: 100px;
    }
  }

  .block-3 {


    @media screen and (min-width: 767px) {
      margin-top: 200px;
    }
  }

  .items_text_block {
    text-align: center;

    .items-row {
      justify-content: center;
      gap: 5px;
      align-items: baseline;
      display: flex;

      .heading,
      span {
        font-weight: 600;
      }

      .heading {
        font-size: 1.8rem;
      }

      span {
        opacity: 0.8;
      }
    }

    .product-name {
      margin-top: 10px;
      font-size: 1.5rem;
    }
  }

  .card-wrapper {
    margin-top: 30px;
    position: relative;
    height: 100%;

    .top-label {
      text-transform: uppercase;
      font-weight: 600;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%) translateY(-50%); // add this line
      background-color: var(--color-main-accent);
      padding: 5px 10px;
      z-index: 1;
      border-radius: 10px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    }

    .card {
      height: 100%;



      .card-inner {
        display: flex;
        height: 100%;
        flex-direction: column;

        .card__text {
          position: relative;
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: space-between;



          .card-badge {
            position: absolute;
            background-color: var(--color-main-accent);
            transform: translateX(-50%) translateY(-50%); // add this line
            top: 0;
            width: calc(100% - var(--gutter-large) * 2);
            left: 50%;
            padding: 5px 10px;
            font-weight: 600;
            text-align: center;
            border-radius: 10px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          }

          .price_row {
            padding-bottom: 20px;
          }
        }
      }
    }
  }
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  animation: marquee 1s linear infinite;
}

@keyframes marquee {
  0% {
    text-indent: 100%;
  }

  100% {
    text-indent: -100%;
  }
}