@font-face {
    font-family: 'Recife';
    src: url('RecifeDisplay-Regular.woff2') format('woff2'),
        url('RecifeDisplay-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recife';
    src: url('RecifeDisplay-SemiBold.woff2') format('woff2'),
        url('RecifeDisplay-SemiBold.woff2') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Recife';
    src: url('RecifeDisplay-Bold.woff2') format('woff2'),
        url('RecifeDisplay-Bold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}